<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
<%= javascript_include_tag 'movies.show' %>
<% title(@movie.name, false) %>

<h1 class="movie_name"><%= @movie.name %></h1>
<p>IMDB: <%= @movie.imdb_rating %>, Кинопоиск: <%= @movie.kinopoisk_rating %></p>


<%= button_to('Смотрел', new_movie_visit_for_movie_path(@movie), :method => :get) %>

<p>
  <%= image_tag(@movie.image_url) if @movie.image_url %>
  <br />
  <%= @movie.genre %>
  <br />
  <%= @movie.country %>,
  <%= @movie.year %>,
  <%= @movie.duration %> мин.
</p>
<p>
  Бюджет: <%= number_to_currency @movie.budget, :precision => 0 %>
  <br />
  Премьера: <%= @movie.premier_date %>
</p>

<p>
  Режиссёр: <%= @movie.director %>
  <br />
  В ролях: <%= @movie.actors %>
</p>

<p class="about"><%=h @movie.about  %></p>

[<%= link_to_if(!(@date.today?), 'Сегодня', movie_shows_path(@movie, :date => 'today')) %>]
<br />
[<%= link_to_if(!(@date == Date.tomorrow), 'Завтра', movie_shows_path(@movie, :date => Date.tomorrow)) %>]
<br />
[<%= link_to_if(!(@date == Date.tomorrow.tomorrow), 'Послезавтра', movie_shows_path(@movie, :date => Date.tomorrow.tomorrow)) %>]

<h4>Время начала сеанса:</h4>
    <%= link_to_shows_starting_at 'Через полчаса', @movie, 30.minutes %>
    <%= link_to_shows_starting_at 'Через час', @movie, 1.hour %>
    <%= link_to_shows_starting_at 'Через полтора часа', @movie, 1.hour + 30.minutes %>
<p>
    <% form_tag '' do %>

       <%= text_field_tag :from, params[:from] || Time.now.strftime('%H:%M'), :size => 5 %>
       -
       <%= text_field_tag :to, params[:to] || Time.now.end_of_day.strftime('%H:%M'), :size => 5 %>

      <br /><br />

      <%= check_box_tag :in_3d, 1 , params[:in_3d], :id => "in_3d" %>
      <label for="in_3d">3D</label>
      <br />
      <input type="button" id="in_3d_toggle" value="Только 3D">

      <br /><br />

      <% if logged_in? %>
        <%= check_box_tag :favourite_cinemas, 1 , params[:favourite_cinemas], :id => "in_favourite_cinemas" %>
        <label for="in_favourite_cinemas">Только в любимых кинотеатрах</label>

        <br />
        <input type="button" id="favourite_cinemas_toggle" value="Только в любимых кинотеатрах">

        <br /><br />
      <% end %>

      <%= submit_tag "Поиск", :name => nil %>
    <% end %>
</p>

<input type="button" id="show_end_time_toggle" value="Показывать конец">

<div id="shows_list">
  <b>Сейчас: <%= Time.now.strftime('%H:%M') %></b><br/><br />
  <% @shows.each.group_by(&:time_formatted).each do |time, shows| %>
      <span class="show_time"><%= time%></span>
      <span class="time_left">[-<b><%= ((shows.first.time - Time.zone.now) / 60).round %></b> мин.]</span>
      <span class="show_end_time">(<%= shows.first.end_time_formatted %>)</span>
      <ul class="shows">
        <% shows.each do |show| %>
            <li>
              <span class="cinema_name"><%= link_to show.cinema.name, show.cinema %></span>
              <% if show.is_3d && !params[:in_3d] %>
                (3D)
              <% end %>
            </li>
        <% end %>
      </ul>
  <% end %>
</div>
