<h1>Посещённые фильмы</h1>

<% if !@movie_visits.empty? %>

    <table class="nice_table">
      <tr>
        <th>Фильм</th>
        <th>Кинотеатр</th>
        <th>Дата</th>
        <th>Сервис</th>
      </tr>

    <% @movie_visits.each do |movie_visit| %>
      <tr>
        <td><%=h movie_visit.movie.name %></td>
        <td><%=h movie_visit.cinema.name if movie_visit.cinema  %></td>
        <td><%=h movie_visit.date %></td>
        <td>
          [<%= link_to 'Удалить', movie_visit, :confirm => 'Удалить?', :method => :delete %>]
          [<%= link_to 'Редактировать', edit_movie_visit_path(movie_visit) %>]
        </td>
      </tr>
    <% end %>
    </table>

<% end %>

<br />

[<%= link_to 'Добавить', new_movie_visit_path %>]