<h1>Посещённые фильмы</h1>

<table>
  <tr>
    <th>Фильм</th>
    <th>Кинотеатр</th>
    <th>Дата</th>
  </tr>

<% @movie_visits.each do |movie_visit| %>
  <tr>
    <td><%=h movie_visit.movie.name %></td>
    <td><%=h movie_visit.cinema.name %></td>
    <td><%=h movie_visit.date %></td>
    <td><%= link_to 'Удалить', movie_visit, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Редактировать', edit_movie_visit_path(movie_visit) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить', new_movie_visit_path %>