%h1
  = @cinema.name
  %span.city= @cinema.city

-@shows.group_by {|show| show.time.to_date }.each do |date, shows_for_date|
  %h3.date= (date.today?) ? 'Сегодня' : date
  -shows_for_date.sort_by {|show| show.movie.name}.group_by(&:movie).each do |movie, shows|
    %span.movie_name= link_to movie.name, movie_path(movie)
    %ul
      -shows.sort_by(&:time).each do |show|
        %li
          %span.show_time= show.time_formatted




